@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  padding: 2em 10%;
  font-family: "League Spartan", sans-serif;
  font-size: 1.5em;

  background-color: #171717;
  background-image: linear-gradient(45deg, #000000 25%, #050505 25%, #050505 50%, #000000 50%, #000000 75%, #050505 75%, #050505 100%);
  background-size: 56.57px 56.57px;
}

.accent-1 {
  color: hsl(184, 100%, 50%);
}

.accent-2 {
  color: hsl(300, 100%, 50%);
}

.para {
  margin: 2rem 0;
  font-size: 1em;
  line-height: 1.2em;
}
